.profile__info {
  padding: 0;
  margin: 0;
  width: 428px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

@media screen and (max-width: 1279px) {
  .profile__info {
    align-items: center;
  }
}

@media screen and (max-width: 1023px) {
  .profile__info {
    text-align: center;
  }
}
