.profile__avatar-edit-button {
  background-image: url(../../../images/avatar-edit-button.svg);
  position: absolute;
  top: 40%;
  left: 40%;
  cursor: pointer;
  z-index: 1;
  margin: 0;
  width: 26px;
  height: 26px;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
}

.profile__avatar-container:hover .profile__avatar-edit-button {
   opacity: 1;
   transition: 0.3s;
}