@import url(__avatar/__avatar.css);
@import url(__info/__info.css);
@import url(__info-name/__info-name.css);
@import url(__info-description/__info-description.css);
@import url(__edit-button/__edit-button.css);
@import url(__edit-button-img/__edit-button-img.css);
@import url(__add-button/__add-button.css);
@import url(__add-button-img/__add-button-img.css);

.profile {
  max-width: 882px;
  width: calc(100% - 398px);
  margin: 40px auto 50px auto;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1023px) {
  .profile {
    max-width: 282px;
    margin: 42px auto 36px auto;
    width: calc(100% - 36px);
    flex-wrap: wrap;
  }
}
