@import url(__avatar/profile__avatar.css);
@import url(__info/profile__info.css);
@import url(__info-name/profile__info-name.css);
@import url(__info-description/profile__info-description.css);
@import url(__edit-button/profile__edit-button.css);
@import url(__add-button/profile__add-button.css);
@import url(__avatar-container/profile__avatar-container.css);

.profile {
  max-width: 882px;
  width: calc(100% - 398px);
  margin: 40px auto 50px auto;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1023px) {
  .profile {
    max-width: 282px;
    margin: 42px auto 36px auto;
    width: calc(100% - 36px);
    flex-wrap: wrap;
  }
}
