.form__input {
  width: 358px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.2);
  padding-bottom: 13px;
  border-top: none;
  border-right: none;
  border-left: none;
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 48px;
  outline: none;
   box-shadow: none;
}

.form__input:invalid {
  border-bottom: 1px solid #FF0000;
}

@media screen and (max-width: 767px) {
  .form__input {
    width: calc(100% - 40px);
    max-width: 200px;
  }
}
