.popup__close-button {
  position: relative;
  top: -35px;
  right: -430px;
  width: 40px;
  height: 40px;
  display: block;
  padding: 0;
  border: none;
  background-position: center;
  transform: rotate(45deg);
  background: transparent;
  cursor: pointer;
  background-image: url(../../../images/close-button.svg);
  background-repeat: no-repeat;
  object-fit: cover;
  object-position: 0;
}

.popup__close-button:hover {
  opacity: 0.6;
  transition: 0.3s;
}

@media screen and (max-width: 767px) {
  .popup__close-button {
    right: -235px;
    top: -35px;
  }
}
