@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/cards/cards.css);
@import url(../blocks/card/card.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/form/form.css);
@import url(../blocks/footer/footer.css);


.popup__content {
  position: relative;
}

.popup__image {
  width: 816px;
  height: 540px;
}

.popup__close-button_image {
    left: 860px;
    position: absolute;
    top: -20px;
}

.popup__image-title {
  width: 291px;
  font-size: 12px;
line-height: 15px;
color: #FFFFFF;
height: 12px;
}

.popup__figure {
  height: 562px;
  width: 816px;

}

