@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/cards/cards.css);
@import url(../blocks/card/card.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__close-button/_image/popup__close-button_image.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/form/form.css);
@import url(../blocks/footer/footer.css);


.form__input:invalid {
  border-bottom: 1px solid #FF0000;
}

.form__input {
   outline: none;
   box-shadow: none;
}




