.form__save-button {
  width: 358px;
  height: 50px;
  background: #000000;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 36px;
  cursor: pointer;
  margin-top: 48px;
}

.form__save-button:hover {
  opacity: 0.6;
  transition: 0.3s;
}

.form__save-button_disabled {
  background: #ffffff;
  border: 1px solid rgba(84, 84, 84, 0.2);
  color: rgba(84, 84, 84, 0.2);
}

@media screen and (max-width: 767px) {
  .form__save-button {
    width: calc(100% - 40px);
    max-width: 200px;
    font-size: 14px;
  }
}
