.popup__title {
  color: #000000;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  width: 330px;
  margin: 34px 0 54px 0;
}

@media screen and (max-width: 767px) {
  .popup__title {
    margin: 12px 0 54px 0;
  }
}
