.popup__title {
  color: #000000;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  width: 330px;
  margin: 0 0 26px 36px;
}

@media screen and (max-width: 767px) {
  .popup__title {
    margin: 12px auto 54px auto;
    width: calc(100% - 40px);
    max-width: 200px;
    font-size: 20px;
  }
}
