@import url(__delete-button/card__delete-button.css);
@import url(__image/card__image.css);
@import url(__image-container/card__image-container.css);
@import url(__subtitle/card__subtitle.css);
@import url(__title/card__title.css);
@import url(__like-button/card__like-button.css);

.card {
  background-color: #ffffff;
  border-radius: 10px;
  height: 361px;
}
