@import url(__image/card__image.css);
@import url(__subtitle/card__subtitle.css);
@import url(__text/card__text.css);
@import url(__like-button/card__like-button.css);

.card {
  background-color: #ffffff;
  border-radius: 10px;
  height: 361px;
}
