@import url(__image/__image.css);
@import url(__subtitle/__subtitle.css);
@import url(__text/__text.css);
@import url(__like-button/__like-button.css);

.card {
  max-width: 100%;
  background-color: #ffffff;
  border-radius: 10px;
}
